.box-3 {
  display: flex;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: #f2e1d9;
    width: 68%;
    height: 100%;
    z-index: -9;
    right: 0;
    top: 0;
  }
  .left-bg {
    margin-right: 1%;
    width: 1000px;
    height: 570px;
    margin: 130px 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .tailor-detalis {
    margin-top: 12%;
    margin-left: 5%;
    padding-right: 10%;
  }
  h2 {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 22px;
    font-family: josefin sans, sans-serif;
    color: #101a31;
  }
  p {
    color: #010a44;
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .content-bottom {
    margin-bottom: 41px;
    font-size: 14px;
    color: #10285d;
    line-height: 30px;
  }
}
@media (max-width: 990px) {
  .box-3 {
    flex-wrap: wrap;
    &::before {
      background: none;
    }
  }
  .left-bg {
    width: 100%;
    height: 500px;
  }
  .tailor-detalis {
    width: 100%;
    margin-top: 15px !important;
  }
  h2 {
    font-size: 40px !important;
  }
  p {
    font-size: 14px !important;
  }
}
