main {
  padding-top: 80px;
}
.box-1 {
  background-repeat: no-repeat;
  background-image: url(../../images//sec1-bg.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  &::before {
    background: linear-gradient(
      to right,
      rgba(16, 26, 48, 0.7) 0%,
      rgba(16, 26, 48, 0.7) 12%,
      #101a31 91%,
      #101a31 100%
    );
    position: absolute;
    content: "";
    opacity: 1;
    width: 100%;
    height: 905px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
  :first-child {
    flex-wrap: wrap;
    padding-left: 80px;
    margin-top: 90px;
    padding-right: 0;
    z-index: 6;
    width: 60% !important;
    .round {
      padding: 0;
      width: 160px !important;
      margin-bottom: 30px;
      margin-top: 100px;

      img {
        margin: 0;
        padding: 0;
        animation: rotateme 30s infinite linear;
      }
    }
    h1 {
      font-family: josefin sans, sans-serif;
      color: #fff;
      font-size: 56px;
      font-weight: 600;
      margin-bottom: 14px;
      line-height: 1.1;
    }
    p {
      margin-bottom: 44px;
      color: #fff;
      line-height: 30px;
      font-size: 16px;
      padding-right: 50px;
    }
  }
  .rigth-img {
    z-index: 6;
    width: 70%;

    img {
      width: 100% !important;
      height: 732px;
    }
  }
}
.btn {
  padding: 24px 47px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  background-size: 200%;
  transition: 0.6s;
  text-decoration: none;
  background-image: linear-gradient(to left, #c79f88, #b6876b, #c9a48f);
  background-position: right;
}
@keyframes rotateme {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-height: 1400px) {
  h1 {
    font-size: 76px;
  }
}

@media (max-width: 990px) {
  .rigth-img {
    display: none;
  }
  .box-1 div:first-child {
    width: 100% !important;
    margin-top: 0;
  }
  .box-1 {
    height: 757px;
  }
  .box-1::before {
    height: 837px;
  }
}

@media (max-width: 370px) {
  .box-1 {
    h1 {
      font-size: 30px !important;
    }
    p,
    .btn {
      font-size: 12px !important;
    }
  }
}
