.box-2 {
  display: flex;
  margin: 110px 6%;
  .offers-cap {
    position: relative;
    width: 33%;
    padding-left: 70px;
    margin-right: 2%;
    animation: offersCapTrans 0.8s linear;

    div:first-child {
      position: absolute;
      text-align: center;
      left: 0;
      top: 67%;
      font-size: 14px;
      color: white;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 35px;
      border-radius: 50%;
      background-color: #c6a16e;
      border: 1px solid #c6a16e;
    }
    .img {
      margin-bottom: 50px;
      overflow: hidden;
      height: 390px;
      width: 100%;
      padding: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
        margin: 0;
        transition: 0.5s;
      }
    }
    .content {
      padding-right: 3%;
      h3 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 16px;
        a {
          color: #212529;
          text-decoration: none;
        }
      }
      p {
        color: #101a31;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 30px;
      }
    }
    &:hover > .content h3 a {
      color: #c6a16e;
    }
    &:hover > .number {
      background: none;
      color: #c6a16e;
    }
    &:hover > .img img {
      width: 110%;
    }
  }
}

@keyframes offersCapTrans {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@media (max-width: 1100px) {
  .offers-cap > div:first-child {
    top: 60% !important;
  }
  .content h3 {
    font-size: 28px !important;
  }
}

@media (max-width: 990px) {
  .box-2 {
    flex-wrap: wrap;
  }
  .offers-cap {
    width: 45% !important;
  }
}
@media (max-width: 850px) {
.img {
      height: 250px !important;
}
}
@media (max-width: 600px) {
.offers-cap {
    width: 90% !important;
  }
}